.thmb1{ -webkit-animation-delay: .0s;}
.thmb2{ -webkit-animation-delay: .2s;}
.thmb3{ -webkit-animation-delay: .4s;}

#containerTop{
	width:60%;
}

	
	
	/* main content */
#carouselPlus{
	
	margin-top:100px;
	
	}

#carousel{
	
	margin-right:10px;
	
	}
#gallery {
	margin-right:-100px;
	}

.row {
	margin-bottom:30px;
	}
#column {
	margin-top:-25px;
	}






