.email{
	margin-top:5%;
	}
input[type=email]{
	 border: 2px solid #A7A9AC;
	 border-radius: 3pt;
	 width: 100%;
	 font-size: 18px;
	 height: 36px;
	 line-height:30px;
  }
  

  
    input[type=submit]{

	height: 50px;
	line-height: 30px;
	width: 100px;
	float: right;
	background-color: white;
	border: 2px solid #A7A9AC;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #A7A9AC;
	border-radius: 3pt;
	margin-top:1%;
  }
 body{ 
	background-color: #E6E7E8;
	}
	
.container-fluid h1{
	color: #A7A9AC;
	text-align: center;
	font-size: 40px;
	padding-top:3%;
	font-family: 'Open Sans', sans-serif;
	}