
	

	
	/* THIS CONTROLS THE NAV TEXT */

html, body{
    height: 100%;
}
h2{
	color: #F1A9A0;
	}
.navbar-brand{
	margin-top:-4px;
	}
#pfp {
	width:300px;
	 display: block;
    margin-left: auto;
    margin-right: auto; 
	margin-top: 8%;
	
	}

#containerBot{
    height: 100%;

}	
	
#containerTop{
	width:60%;
}

.navbar-default{
	background-color: #C8F7C5 ;
	height: 70px;
	min-width:100%;
	border:none;
	}

	
	/* THIS CONTROLS THE NAV TEXT */
.navbar-default .navbar-nav> li>a{
	color: #336E7B;
	font-size: 15px;
	}
	
 .navbar-brand,
.navbar-nav li a{
	height: 70px;
	margin-left:1px;
	color: red;
	
	
	}

.navbar-nav li a{
	line-height:70px;
	padding:0 20px;
	color: red;
	
}
	
	
	/* main content */
#carouselPlus{
	
	margin-top:100px;
	
	}

#carousel{

	margin-right:10px;
	
	}
.thmb1, .thmb2, .thmb3, .thmb4, .thmb5{	
	margin-bottom:40px;
	}
#gallery {
	margin-right:-100px;
	padding-bottom: 70px;
	}

.row {

	}
#column {
	margin-top:-25px;
	}

.footer {
position:fixed	;
bottom: 0;
margin-top: 100px ;
text-align: center ;
font-size: 16px ;
font-family: verdana ;
width: 100% ;
height: 70px ;
background-color: #C8F7C5 ;
}


	


