.thmb1{ -webkit-animation-delay: .0s;}
.thmb2{ -webkit-animation-delay: .2s;}
.thmb3{ -webkit-animation-delay: .4s;}
.thmb4{ -webkit-animation-delay: .6s;}
.thmb5{ -webkit-animation-delay: .8s;}



#containerTop{
	width:60%;
}
	
.navbar-default{
	background-color: white;
	height: 70px;
	min-width:100%;
	}

	

	
	/* THIS CONTROLS THE NAV TEXT */

	
	
	/* main content */
#carouselPlus{
	
	margin-top:100px;
	
	}

#carousel{
	
	margin-right:10px;
	
	}
#gallery {
	margin-right:-100px;
	padding-bottom: 70px;
	}

.row {
	margin-bottom:30px;
	}
#column {
	margin-top:-25px;
	}




	


