html, body{
    height: 100%;
}

#pfp {
	width:300px;
	 display: block;
    margin-left: auto;
    margin-right: auto; 
	margin-top: 8%;
	
	}

#containerBot{
    height: 100%;

}	
	
#containerTop{
	width:60%;
}

.navbar-default{
	background-color: #C8F7C5 ;
	height: 50px;
	min-width:100%;
	border:none;
	}

	
	/* THIS CONTROLS THE NAV TEXT */
.navbar-default .navbar-nav> li>a{
	color: #336E7B;
	font-size: 15px;
	}
	
 .navbar-brand,
.navbar-nav li a{
	height: 48px;
	margin-left:1px;
	color: red;
	
	
	}

.navbar-nav li a{
	line-height:50px;
	padding:0 20px;
	color: red;
	
}

#containerBot{
	margin-top: 50px;
	width: 36%;
}


.stuff p{
	color: #939598;
	}
.stuff h1{
	color: #336E7B;
}
.stuff h4{
	color: #336E7B;
	margin-top: 50px;
}
.stuff{ 
	padding-bottom:120px;
	}
	
.h3{
	margin-top:100px;

}

#resume{
	margin-top: 50px;
	}
	
.footer {
position:fixed	;
bottom: 0;
margin-top: 100px ;
text-align: center ;
font-size: 16px ;
font-family: verdana ;
width: 100% ;
height: 50px ;
background-color: #C8F7C5 ;
}
#fb{
	width: 48px;
	margin-top:15px;
	margin-right: 10px;
	position: left;
}