/* animation */
.hex{ -webkit-animation-delay: .1s;}
.hex2{ -webkit-animation-delay: .4s;}
.hex3{ -webkit-animation-delay: .7s;}





#containerBot{
	margin-top: 50px;
	width: 36%;
}


#content{
	margin-top:100px;
}

#content h4{
	color:#F1A9A0;
	
	}


.row{ 
	margin-bottom:50px;
	}









