/* animation */
.hex{ -webkit-animation-delay: .1s;}
.hex2{ -webkit-animation-delay: .4s;}
.hex3{ -webkit-animation-delay: .7s;}



#containerTop{
	width:60%;
}
	
.navbar-default{
	background-color: white;
	height: 70px;
	min-width:100%;
	}

	
	/* THIS CONTROLS THE NAV TEXT */
.navbar-default .navbar-nav> li>a{
	color: #336E7B;
	font-size: 15px;
	}
	
 .navbar-brand,
.navbar-nav li a{
	height: 68px;
	margin-left:1px;

	
	
	}

.navbar-nav li a{
	line-height:70px;
	padding:0 20px;

	
}

#containerBot{
	margin-top: 50px;
	width: 36%;
}


#content{
	margin-top:100px;
}

#content h4{
	color:#336E7B;
	}


.row{ 
	margin-bottom:50px;
	}


/*BLUR*/
.hex img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.hex img:hover {
  -webkit-filter: blur(2px);
  
}



.footer {
position:absolute;
bottom: 0;
margin-top: 100px ;
text-align: center ;
font-size: 16px ;
font-family: verdana ;
width: 100% ;
height: 70px ;
background-color: #C8F7C5 ;

}


#fb{
	width: 48px;
	margin-top:15px;
	margin-right: 10px;
	position: left;
}


